# --- NETWORK PORTS & URLS ---
APP_PORT=3344
PROXY_PORT=8080
CALLBACK_PORT=3999
CALLBACK_URL=http://localhost:3999/callback
UI_BASE_URL=http://localhost:3344/

# --- INTERLEDGER WALLET PARAMETERS ---
CLIENT_WALLET_ADDRESS_URL=$ilp.interledger-test.dev/your_client_account
SENDING_WALLET_ADDRESS_URL=$ilp.interledger-test.dev/your_sending_account
RECEIVING_WALLET_ADDRESS_URL=$ilp.interledger-test.dev/your_receiving_account
KEY_ID=your-open-payments-key-uuid-here
PRIVATE_KEY_PATH=/path/to/your/private.key